[submodule "MeddySDKSuperbuild"]
	path = MeddySDKSuperbuild
	url = https://github.com/ChristianHinko/MeddySDKSuperbuild.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
